html, body {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.snowman {
  text-align: center;
  width: 40vh;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  margin-left: -20vh;
}

.head, .upper-body, .lower-body {
  background-color: #F8F8F8;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
}

.head {
  height: 18vh;
  width: 20vh;
  bottom: 52vh;
  margin-left: -10vh;
}

.upper-body {
  height: 26vh;
  width: 30vh;
  bottom: 30vh;
  margin-left: -15vh;
}

.lower-body {
  height: 35vh;
  width: 40vh;
  bottom: 0;
  margin-left: -20vh;
}

.coal {
  display: inline-block;
  border: 1vh solid black;
  border-radius: 50%;
  width: .5vh;
  height: .5vh;
  background-color: black;
  margin: 0.5vh
}

.eyes {
  margin-top: 2vh;
}

.carrot {
  width: 0;
  height: 0;
  border-top: 2vh solid transparent;
  border-bottom: 0.5vh solid transparent;
  border-right: 5.5vh solid orange;
  margin-left: 5vh;
}

.mouth {
  margin-top: 1vh;
}

.mouth .coal {
  margin: 0.2vh;
  width: .4vh;
  height: .4vh;
}

.mouth .coal:nth-child(even) {
  position: relative;
  top: 1vh;
}

.mouth .coal:nth-child(3) {
  position: relative;
  top: 1.5vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  width: 2.5vh;
  margin: auto;
  z-index: 1;
}

.ground {
  background-color: #F8F8F8;
  height: 5vh;
  width: 100%;
  border-radius: 35% 35% 0 0;
  border-top: 5vh #F8F8F8 solid;
  position: absolute;
  bottom: 0;
}

.snow {
  height: 2px;
  width: 2px;
  background-color: white;
  position: absolute;
}

.tree {
  text-align: center;
  width: 40vh;
  position: absolute;
  bottom: 5vh;
  left: 20%;
  margin-left: -20vh;
  background-color: aquamarine;
}

.tree:nth-of-type(1) {
  left: 70%;
}

.tree:nth-of-type(2) {
  left: 90%;
}

.snow-layer {
  width: 0;
  height: 0;
  border-bottom: 71vh solid white;
  border-left: 13vh solid transparent;
  border-right: 13vh solid transparent;
  margin-left: 4vh;
  position: absolute;
  left: 0;
  bottom: 21vh;
}

.branches {
  width: 0;
  height: 0;
  border-bottom: 67vh solid green;
  border-left: 12vh solid transparent;
  border-right: 12vh solid transparent;
  margin-left: 5vh;
  position: absolute;
  left: 0;
  bottom: 20vh;
}

.trunk {
  height: 20vh;
  width: 10vh;
  background-color: brown;
  position: absolute;
  left: 12vh;
  bottom: 0;
}
